* {
  box-sizing: border-box;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.headerlogo{
    width: 100%;
    padding: 10px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
    font-family: monospace;
    font-weight: lighter;
}