* {
  box-sizing: border-box;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.headerlogo{
    width: 100%;
    padding: 10px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
    font-family: monospace;
    font-weight: heavy;
}

.sectionhead{
    padding: 8px;
    width: 80%;
    margin: 12px auto;
    text-align: left;
    color: white;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    box-shadow: 3px 3px 0px 6px black;
    font-family: monospace;
    font-size:x-large;
}

.content{
    padding: 8px;
    margin: 12px auto;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 1px 1px 0px 2px black;
    font-family: monospace;
    font-size: 12pt;

}

td{
    padding-left: 8px;
    margin-left: 6px;
}